<h2>A customer complained that your website was to slow!</h2>
<h3>How do you fix the problem?</h3>
<p> In order to fix the problem you have to know what the problem is. If a customer complained directly to me and I had the luxury to speak with the customer I would try to obtain more information from the customer.  The reason being is there can be many reasons a website is slow. </p>
<p>A few reasons can be ...</p>
<ul>
    <li>The customer has a poor Internet connection. </li>
    <li>Slow querying of the database.</li>
    <li>Hardware issues related to the database server such as low memory, slow CPU ect. </li>
    <li>How the application was coded(Unoptimized code, poor algorithm choices ect).</li>
</ul>
<p>
    If possible I would get information like when did the website become slow? Was it slow when you tried accessing the home page?  Did the website become slow after the customer accessed a search feature that queries data, sorts data and if so what inputs were used(I would want the inputs so I could use them for test myself later on).
</p>
<p> I find that when solving problems related to performance and/or bugs its best to have as much information as you can about the problem.  The more information you have the easier it is to find the problem and solve it.
</p>