<!-- Bootstrap core JavaScript -->
<script src="jquery"></script>
<script src="popper"></script>

<script src="bootstrap/js/bootstrap.js"></script>

<script src="assets/javascript/bootstable.js"></script>
<script src="assets/javascript/scrolling-nav.js"></script>

<!-- Plugin JavaScript -->
<script src="assets/javascript/jquery-easing/jquery.easing.min.js"></script>
<script src="assets/javascript/bundle.js"></script>


<!-- Footer -->
<footer class="py-5 bg-dark fixed-bottom">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Micah Bell 2019</p>
    </div>
    <!-- /.container -->
</footer>

</body>
</html>