<!-- Footer -->
<footer class="py-5 bg-dark fixed-bottom">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Micah Bell 2019</p>
    </div>
    <!-- /.container -->
</footer>