<p>This function can be found in the clients folder inside the challenges.js file.
    Time complexity I believe is O(mn) + Θ(mn log(mn)).
    Space complexity O(mn) * 2. I believe you could lower the space complexity could be lowered if the 2 combined arrays were destroyed
    once the arrays are merged.
</p>