
<div>
    <h3 id='hIsPalindrome' class="card-header text-center font-weight-bold text-uppercase py-4">Palindrome Checker</h3>
    <div class="form-group">
        <label for="isPalindrome">Time Complexity = T0(n*5), Space Complexity = O(n)</label>
        <input type="text" class="form-control" id="isPalindrome" aria-describedby="palindromeHelp" placeholder="please, enter a string">
        <small id="palindromeHelp" class="form-text text-muted">Checks to see if a word or sentence is a palindrome.</small>
    </div>
    <button id="palindromeClick" type="submit" class="btn btn-primary">Check</button>
</div>