<div class="input-group mb-3">
   <div  class="input-group-prepend">
        <button id="add_list" class="btn btn-outline-secondary" type="button">Add List</button>
    </div>
    <input id="list_name" type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
</div>
<div id="lists" class="list-group .display-1">
</div>