<!-- Editable table -->
<div class="card">
    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">To Do List</h3>
    <div class="card-body">
        <div id="table" class="table-editable">
            <table id="toDoList" class="table table-responsive-md table-sm table-bordered">
                <thead>
                </thead>
                <tbody>

                </tbody>
            </table>
            <span style="float:right"><button id="but_add" class="btn btn-danger">Add New Task</button></span>

        </div>
    </div>
</div>
<!-- Editable table -->