
<h2>What is a web socket?</h2>
<p>
Websocket is an API for sending data back and forth between a client and a server .  Web sockets act much like a regular socket in that it keeps an open connection until terminated by the client or the server.  Websockets can only send and receive two types of data, either data in a Text format or binary data. It is also full-duplex which means that the client and server can be transmit data at the same time.
</p>
<h2>How does it compare to other protocols.</h2>
<p>
Websocket differs from other protocols like HTTP1.0 in that websockets are stateful and HTTP is stateless. What this means is that Websockets doesn’t require the server to retain session information. With other HTTP protocols the connection is lost once the transaction ends.
</p>