<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>
<% include ../partials/header %>
<!-- Page Content -->
<div class="row text-center ">
    <div class="container">
    <h1>A Little Bit About Me</h1>
    </div>
</div>
<!-- Page Content -->
<div class="row ">
    <div class="container text-center" >
        <div class="card text-center">
            <div class="card-body">
            <img height="300"   class="img-fluid" width="300" src="/assets/images/profile.jpg">
        </div>
    </div>
</div>
<div class="container">
    <p>When I started my career as an Application Developer I was fresh out of ITT-Tech with an SAP(Software Applications and
        Programming) degree and started working for Bubbles Car Wash. I designed several applications for Bubbles including Commissions
        Reports, Employee Scheduling Applications, and reporting applications that allowed managers, CEOs, and customers to connect to
        their Point of Sale databases and access the data they needed to make important decisions about their company and employees.
        For Instance: I designed web surveys that allowed District Managers and CEOs to take a bird's eye view of how their customers
        viewed their business. I built applications that saved time and allowed employees to focus on other tasks. For example,
        I constructed applications that calculated numbers from various data sources (MS SQL, Quickbooks etc, and other data sources).

        Originally these numbers were calculated manually and took employees several hours to calculate, when my programs could do this
        in less than a second. I created reports and scheduling applications that showed managers if their employees were about to
        incur overtime. This allowed them to reschedule and saved them overtime hours.
    </p>
    <p> After my career with Bubbles, I started working for Innovative DataNet and designed several similar applications for
        Innovative DataNet. One of the Applications I am most proud of is the Unlimited Monthly Club Plan. The project was pretty
        big and allowed customers to sign up for unlimited monthly washing. It had several features which included automated credit
        card processing and email messaging. It was also integrated with multiple systems.
    </p>
    <p>  This is a brief description of some of the applications I have built in the past and the ways that I have helped people and their businesses.
    </p>

</div>


<%include ../partials/footer %>