<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>

<% include ../partials/header %>
<!-- Page Content -->
<div class="row ">
        <div class="container jumbotron">

                        <h1>Micah Bell a Developers Story</h1>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Let me design innovative applications, websites or systems for your company. </p>

        </div>
</div>
<%include ../partials/footer %>
