<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>

<body>

<% include ../partials/header %>




<!-- Page Content -->

<!-- Page Content -->
<div class="row ">
        <div class="container jumbotron">

                        <h1>Micah Bell a Developers Story</h1>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Let me design innovative applications, websites or systems for your company. </p>

        </div>
</div>


<%include ../partials/footer %>

<!-- Bootstrap core JavaScript -->
<script src="jquery"></script>
<script src="popper"></script>

<script src="bootstrap/js/bootstrap.js"></script>

<script src="assets/javascript/bootstable.js"></script>
<script src="assets/javascript/scrolling-nav.js"></script>

<!-- Plugin JavaScript -->
<script src="assets/javascript/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom JavaScript for this theme -->
        <script src="owl/js"></script>
<script src="assets/javascript/bundle.js"></script>

</body>

</html>