<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>

<body id="page-top">

<% include ../partials/header %>

<header class="bg-primary text-white">
    <div class="container text-center">
        <h1>Welcome to To Do List</h1>
        <p class="lead">Hope you have fun working with this to do list!</p>
    </div>
</header>

<section id="todolist">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <% include ../partials/todolist %>
            </div>
        </div>
    </div>
</section>

<section id="palindrome" class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <% include ../partials/palindrome.ejs %>
            </div>
        </div>
    </div>
</section>

<section id="mergeArraySort">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Merge in Sorted Order</h2>
                <% include ../partials/mergeSortArray.ejs %>
            </div>
        </div>
    </div>
</section>

<section id="websystem" class="bg-light">
<div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <% include ../partials/websocketsAbout.ejs %>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <% include ../partials/customerComplaint.ejs %>
        </div>
    </div>
</div>
</section>





<%include ../partials/footer %>

<!-- Bootstrap core JavaScript -->
<script src="jquery"></script>
<script src="popper"></script>

<script src="bootstrap/js/bootstrap.js"></script>

<script src="assets/javascript/bootstable.js"></script>
<script src="assets/javascript/scrolling-nav.js"></script>

<!-- Plugin JavaScript -->
<script src="assets/javascript/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom JavaScript for this theme -->

<script src="assets/javascript/bundle.js"></script>

</body>

</html>